@import 'src/app/styles/colors';
// @import 'src/app/styles/font';
@import 'src/app/styles/variables';

.edit-user-nav-card {
  margin-top: 24px;
}

.nav-items-group {
  padding: 8px;
}

.edit-user-tab-icon {
  padding-right: 10px;
  transform: scale(.9);
}

.remove-border-bottom ::ng-deep .mat-tab-header {
  border-bottom: none;
}


