<!-- <div class="edit-user-nav-wrapper"> -->
  <!-- <mat-card class="edit-user-nav-card">
    <mat-card-content > -->
      <mat-tab-group (selectedTabChange)="onTabChange($event)"
        class="remove-border-bottom nav-items-group" mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="./assets/user/edit/account.svg" class="edit-user-tab-icon" />
            Account
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="edit-user-tab-icon">perm_identity</mat-icon>
            Profile
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="edit-user-tab-icon">lock</mat-icon>
            Change password
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="edit-user-tab-icon">settings</mat-icon>
            Settings
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <!-- <nav mat-tab-nav-bar>
        <a mat-tab-link
        routerLink="/user/list"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
       Tab Label-1
      </a>
      </nav> -->
    <!-- </mat-card-content>
  </mat-card> -->
<!-- </div> -->

