@import "src/app/styles/colors";
@import "src/app/styles/variables";

.add-user-form-part-loader-card {
  margin-top: 24px;
}

.content-outer-wrapper {
  width: 44%;
}

.content {
  display: flex;
  justify-content: center;
}

.content-title {
  margin-bottom: 30px;
}

.add-form-part-wrapper {
  margin-top: 14px;
  margin-bottom: 14px;
  /* width: 44%;
  padding-left: 28%;
  padding-right: 28%; */
  // width: 600px;
}
