<mat-card class="add-card">
  <!-- Add user card -->
  <mat-card-content class="add-content">
    <div class="first-buttons-wrapper">
      <button mat-flat-button color="success" class="add-button">
        <div class="button-inert-wrapper">
          <mat-icon>add</mat-icon>
          <p class="button-text">Add</p>
        </div>
      </button>
      <button mat-stroked-button color="primary" class="filters-button">
        <div class="button-inert-wrapper">
          <mat-icon>filter_list</mat-icon>
          <p class="button-text">filters</p>
        </div>
      </button>
    </div>

    <div class="second-buttons-wrapper">
      <button mat-stroked-button color="warn" class="download-button"
          matTooltip="Download searched users"
          aria-label="Button to download the list of users we've searched for">
        <div class="button-inert-wrapper">
          <mat-icon>get_app</mat-icon>
          <p class="button-text">download</p>
        </div>
      </button>
      <mat-form-field appearance="outline" class="search">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput #searchInput>
        <mat-label for="searchInput">Search</mat-label>
      </mat-form-field>
    </div>
  </mat-card-content>

  <!-- List users card -->

</mat-card>
