<div class="edit-form-wrapper">
  <h3>Account</h3>
  <form [formGroup]="editAccountForm" (ngSubmit)="updateAccount()">
  <!-- <form [formGroup]="editAccountForm"> -->
    <mat-form-field class="form-item" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" type="text" formControlName="username" required>
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="Email" type="email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
      <mat-label>User role</mat-label>
      <select matNativeControl required formControlName="role" [(value)]="selectedRole">
        <option *ngFor="let userRole of userRoles" [value]="userRole.value">{{userRole.viewName}}</option>
      </select>
    </mat-form-field>

    <!-- Trying something, this is a superfluous content ... -->

    <!-- <mat-form-field class="form-item booking-facility">
      <mat-select disableOptionCentering placeholder="role" class="form-select-item" panelClass="booking-facility-select" >
        <mat-option *ngFor="let role of userRoles" [value]="role.value">
          <span>{{ role.viewName | lowercase }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!--  -->

    <div class="button-wrapper">
      <button class="reset-button" mat-stroked-button>Reset</button>
      <button class="save-button" mat-flat-button
        type="submit" [disabled] = "!editAccountForm.valid">Save</button>
      <!-- <button class="save-button" mat-flat-button [disabled]="!editAccountForm.valid"
        (click)="updateAccount()" [routerLink] = "['/user']">Save</button> -->
    </div>
  </form>
</div>
