<mat-horizontal-stepper [linear]="false" #stepper>

  <ng-container *ngIf="stepForms">
    <mat-step [stepControl]="stepForms[0]" state="account">
      <ng-template matStepLabel>Create Account</ng-template>
    </mat-step>

    <mat-step [stepControl]="stepForms[1]" state="identity">
      <ng-template matStepLabel>User Details</ng-template>
    </mat-step>

    <mat-step [stepControl]="stepForms[2]" state="business">
      <ng-template matStepLabel>Business Details</ng-template>
    </mat-step>

    <mat-step [stepControl]="stepForms[3]" state="social">
      <ng-template matStepLabel>Social Network</ng-template>
    </mat-step>
  </ng-container>

  <!-- Override default step icons -->
  <ng-template matStepperIcon="account">
    <mat-icon class=".add-user-step-icon">login</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="identity">
    <mat-icon class=".add-user-step-icon">perm_identity</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="business">
    <!-- <mat-icon class=".add-user-step-icon">add_business</mat-icon> -->
    <mat-icon class=".add-user-step-icon">work</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="social">
    <mat-icon class=".add-user-step-icon">people</mat-icon>
  </ng-template>

</mat-horizontal-stepper>
