@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.mat-list-item {
  & .active {
    color: $sidenav-tree-menu-item-background-color-active;
  }
}

.mat-icon {
  margin-right: 15px;
  color: $sidebar-icon-color;
}

.full-width {
  width: 25%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  cursor: pointer;
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  margin-top: -20px;
  padding-left: 60px;
  cursor: pointer;
}
.submenu.expanded {
  transform: scaleY(1);
}
