@import "src/app/styles/colors";
@import "src/app/styles/variables";

.add-user-form-stepper-card {
  margin-top: 24px;
  padding: 48px;
}

/* .add-user-form-part-loader-card {
  margin-top: 24px;
}

.content {
  display: flex;
  justify-content: center;
} */
