<app-layout>
  <app-breadcrumb></app-breadcrumb>
  <mat-toolbar class="page-header" role="heading">
    <div class="main-content-wrapper">
      <div class="left-content-wrapper">
        <app-user-info></app-user-info>
        <!-- <app-user-calendar></app-user-calendar> -->
        <!-- <div class="inner-left-content-wrapper">
          <app-user-media></app-user-media>
          <app-user-projects></app-user-projects>
        </div>
        <app-user-articles></app-user-articles> -->
      </div>
      <div class="right-content-wrapper">
        <!-- <app-user-files></app-user-files> -->
        <div class="bottom-right-content-wrapper">
          <app-user-tasks class="user-tasks"></app-user-tasks>
          <div class="right-bottom-right-content-wrapper">
            <div class="calendar-wrapper">

            </div>
            <div class="views-wrapper">

            </div>
            <div class="update-wrapper">

            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <!-- <app-footer></app-footer> -->
</app-layout>

