<ng-template #add_account>
    <form [formGroup]="addAccountForm">
      <!-- Username -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" type="text" formControlName="username" required>
      </mat-form-field>
      <!-- Email address -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput placeholder="Email" type="text" formControlName="email" required>
        <mat-hint>* Your email will not be shared with anyone else</mat-hint>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password" required>
        <mat-hint>* Password should be at least 6 characters long</mat-hint>
      </mat-form-field>
      <!-- User role -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>User role</mat-label>
        <select matNativeControl required formControlName="role">
          <option *ngFor="let userRole of userRoles" [value]="userRole.value">{{userRole.viewName}}</option>
        </select>
        <mat-hint>Please choose the right role for the user</mat-hint>
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" class="next-button"
          (click)="addAccountInfo()">Next</button>
      </div>
    </form>
  <!-- </div> -->
</ng-template>
