<app-header (toggleSidenav)="toggle()" [isMenuOpened]="isShowSidebar"></app-header>

<mat-sidenav-container class="layout">
  <mat-sidenav
  #sidenav
  [mode] = "mode === 'side' ? 'side':'over'"
  [(opened)]="isShowSidebar"
  class="layout-sidebar"

  >
    <app-leftnav></app-leftnav>
  </mat-sidenav>
  <mat-sidenav-content class="layout-content">
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
