<app-layout>
  <app-breadcrumb></app-breadcrumb>
  <!-- <mat-toolbar class="page-header" role="heading"> -->
  <mat-card class="add-user-form-stepper-card">
    <mat-card-content>
      <div class="main-content-wrapper">
        <div class="left-content-wrapper">
          <app-user-tasks class="user-tasks"></app-user-tasks>
        </div>
        <div class="right-content-wrapper">
          <app-user-fullcalendar></app-user-fullcalendar>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <h1>Calendar</h1>
  <button mat-flat-button color="warn">User events Calendar</button>

  <!-- </mat-toolbar> -->
</app-layout>
